*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-booelano
{ 
    color: orange;

 font-weight: bold;
 font-size: 20px;

}
@media screen and (min-width: 786px)
{
    .container-list ul {
        display: flex;
        flex-wrap: wrap ;
    gap:3rem;
    }
}

main {
    background-color: lightgrey;

}


.category-food-section{ 
    color: rgb(25, 0, 255);
}

.padding{
    padding: 1rem;
}
.d-flex {
    display: flex;
}
.justify-content{
  justify-content: center;
}

h1 {
    color: blueviolet;
}

.font-bold {
    font-weight: bold;
    font-size: 15px;
}
img {
    max-width: 100%;
    padding-left: 1rem;
}

ul {
    list-style-type: none;
}

.container-list {
    background-color: white;
}
.padding-left {
    padding-left: 1rem;
}