*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-booelano
{ 
    color: orange;

 font-weight: bold;
 font-size: 20px;

}
@media screen and (min-width: 786px)
{
    .container-list ul {
        display: flex;
        flex-wrap: wrap ;
    gap:3rem;
    }
}

main {
    background-color: lightgrey;
height: 900px;
padding: 1rem;
}


.category-food-section{ 
    color: rgb(25, 0, 255);
}

.padding{
    padding: 1rem;
}
.d-flex {
    display: flex;
}
.justify-content{
  justify-content: center;
}

h1 {
    color: blueviolet;
}

.font-bold {
    font-weight: bold;
    font-size: 15px;
}
img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
    padding-left: 3rem;

}
li{ 
    margin-bottom: 1.50rem;
}

.container-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}
.padding-left {
    padding-left: 1rem;
}

